In [5]:
from data_warehouse import DataWarehouse

In [11]:
DataWarehouse.execute_query("SHOW TABLES")

                                    name
0             ce_comprehensive_encounter
1   ce_comprehensive_encounter_visit_map
2                     ce_patient_address
3                 ce_patient_description
4                   ce_patient_diagnosis
5                  ce_patient_disability
6                       ce_patient_email
7                   ce_patient_ethnicity
8          ce_patient_housing_insecurity
9                       ce_patient_ident
10                  ce_patient_insurance
11                   ce_patient_language
12             ce_patient_marital_status
13                       ce_patient_name
14                      ce_patient_phone
15                       ce_patient_race
16                      ce_patient_visit
17              ce_patient_visit_details
18            ce_patient_visit_insurance
19    ce_patient_visit_pds_care_provider
20                          contribution
21                           data_source
22                               dx_code
23                              facility
24                       facility_config
25                   facility_identifier
26                           hl7_mapping
27                          hl7_template
28                               insight
29                               message
30                     notif_destination
31                patient_care_guideline
32                  patient_care_history
33            patient_housing_insecurity
34                patient_security_event
35                    pv_patient_address
36                pv_patient_description
37                  pv_patient_diagnosis
38                 pv_patient_disability
39                      pv_patient_email
40                  pv_patient_ethnicity
41         pv_patient_housing_insecurity
42                      pv_patient_ident
43                  pv_patient_insurance
44                   pv_patient_language
45             pv_patient_marital_status
46                       pv_patient_name
47                      pv_patient_phone
48                       pv_patient_race
49                      pv_patient_visit
50              pv_patient_visit_details
51            pv_patient_visit_insurance
52    pv_patient_visit_pds_care_provider

In [10]:
DataWarehouse.execute_query("DESCRIBE facility")

             column_name column_type null  key default  extra
0                   f.id     VARCHAR  YES  NaN     NaN    NaN
1                 f.name     VARCHAR  YES  NaN     NaN    NaN
2              f.address     VARCHAR  YES  NaN     NaN    NaN
3             f.address2     VARCHAR  YES  NaN     NaN    NaN
4                f.phone     VARCHAR  YES  NaN     NaN    NaN
5         f.contact_name     VARCHAR  YES  NaN     NaN    NaN
6        f.participating     VARCHAR  YES  NaN     NaN    NaN
7            f.join_date   TIMESTAMP  YES  NaN     NaN    NaN
8                f.email     VARCHAR  YES  NaN     NaN    NaN
9                 f.city     VARCHAR  YES  NaN     NaN    NaN
10               f.state     VARCHAR  YES  NaN     NaN    NaN
11                 f.zip     VARCHAR  YES  NaN     NaN    NaN
12             f.country     VARCHAR  YES  NaN     NaN    NaN
13  f.parent_facility_id     VARCHAR  YES  NaN     NaN    NaN
14                f.type     VARCHAR  YES  NaN     NaN    NaN
15            f.latitude     VARCHAR  YES  NaN     NaN    NaN
16           f.longitude     VARCHAR  YES  NaN     NaN    NaN
17                 f.url     VARCHAR  YES  NaN     NaN    NaN
18          f.created_by     VARCHAR  YES  NaN     NaN    NaN
19          f.created_on   TIMESTAMP  YES  NaN     NaN    NaN
20         f.last_update   TIMESTAMP  YES  NaN     NaN    NaN
21              f.county     VARCHAR  YES  NaN     NaN    NaN

In [8]:
DataWarehouse.execute_query("select * from facility limit 1;")

,f.id,f.name,f.address,f.address2,f.phone,f.contact_name,f.participating,f.join_date,f.email,f.city,...,f.country,f.parent_facility_id,f.type,f.latitude,f.longitude,f.url,f.created_by,f.created_on,f.last_update,f.county
0,00005933-767f-468f-b81d-17dbdcbbb554,SSC GLEN BURNIE NORTH ARUNDEL OPERATING COMPAN...,313 HOSPITAL DR,NaN,832-467-5728,,0,2019-01-22,,GLEN BURNIE,...,NaN,NaN,snf,,,,e65d92d8-a2d8-4ae7-bd94-658be85a6011,2019-01-22 11:29:38,2021-12-09 09:21:09,